
/* Identity */
header {
    background: rgba(116, 200, 248, 0.6);
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;

}

/* body  */


body {
    padding: 25px;
    color: black;
    font-size: 25px;
    
}

/* Section Competenze&Hobbie */
.wrapper {
    background: rgba(116, 200, 248, 0.6);
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    
}
.wrapperDue {
    background: rgba(116, 200, 248, 0.6);
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

/* modalitù dark */
.enableDarkMode {
    position: absolute;
    background-color: black;
    top: 80px;
    right: 80px;
}
.darkMode {
    background-color: rgb(46, 46, 47); 
    color: white;
}
#enableLightMode {
    position: right;
}
.lightMode {
    background-color: rgb(49, 19, 221); 
    color: rgb(110, 241, 241);
} 

/* .button {
    border: 0;
    background: lightseagreen;
    color: #f2f2f2;
    font-weight: bold;
  
    padding: 5px 15px;
    border-radius: 5%;
  } */

#circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}



.colorOne {
    background: #0060A0;
}

.colorTwo {
    background: violet;
}